@model IPS.Tracker.Web.TrackerService.DefectDTO

@{
    ViewBag.Title = "Issue details";
}

<h2>Issue details</h2>

@if (ViewBag.ShowEditButton)
{
    <div class="toolbox-container pull-left">
        @Html.ActionLink("Edit issue", "Edit", new { id = ViewBag.Id }, new { @class = "btn btn-danger" })
    </div>

    <div class="clearfix"></div>
}
<hr />
<div>
    <dl class="dl-horizontal col-md-9 pull-left">
        <dt>Number</dt>
        <dd>@Model.Id</dd>

        <dt>Summary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>Description
        </dt>

        <dd>
            @*@Html.Raw(Html.Encode(Model.Description).Replace("\n","<br/>"))*@
            @Html.Raw(IPS.Tracker.Web.Utils.HtmlUtils.ParseHash(Model.Description))
        </dd>

        <dt>Reported on
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectDate)
        </dd>

        <dt>Priority
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityDescription)
        </dd>

        <dt>State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateDescription)
        </dd>

        <dt>Assigned to
        </dt>

        <dd>
            <span class="glyphicon glyphicon-user"></span>@Html.DisplayFor(model => model.AssigneeName)
        </dd>

        <dt>Reported by
        </dt>

        <dd>
            <span class="glyphicon glyphicon-user"></span>@Html.DisplayFor(model => model.ReporterName)
        </dd>

        <dt>Work order label
        </dt>

        <dd>
            @if (Model.WorkOrderId.HasValue)
            {            
                <span title="@Model.WorkOrderName">
                    @Html.ActionLink(Model.WorkOrderLabel, "ListProblemsByWorkOrder", new { workOrderId = Model.WorkOrderId })
                </span>
            }
        </dd>

        <dt>Work order name
        </dt>

        <dd>
           @Html.DisplayFor(model => model.WorkOrderName)
        </dd>

        <dt>Sprint No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprintNo)
        </dd>

        <dt>Release</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseVersion)</dd>


        @if (Model.DefectFile != null)
        {
            <dt>Attachment
            </dt>
            <dd>
                <a href="@ViewBag.DefectFilePath">@Model.DefectFileType</a>
            </dd>
        }
    </dl>
    <div class="pull-right">
        @Html.Partial("DefectLinks", Model.LinkedDefects)
    </div>
</div>

<div class="clearfix"></div>

@Html.Partial("ListComments", Model.DefectComments)

@Html.Partial("ListFollowers", Model.DefectFollowers)
