<script src="~/Scripts/knockout-3.1.0.js"></script>
@model IEnumerable<IPS.Tracker.Web.TrackerService.DefectDTO>

<div class="row kanban-board">
    <div class="col-md-3">
        <h4 class="text-center">Novi <span class="badge">@Model.Count(i => i.DefectState == "OPN")</span></h4>
        @foreach (var issue in Model.Where(i => i.DefectState == "OPN").OrderByDescending(i => i.Priority).ThenByDescending(i => i.LastChangeDate))
            {
            @Html.Partial("ProblemCard", issue)
        }
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Neispravni <span class="badge">@Model.Count(i => i.DefectState == "INV")</span></h4>
        @foreach (var issue in Model.Where(i => i.DefectState == "INV").OrderByDescending(i => i.Priority).ThenByDescending(i => i.LastChangeDate))
            {
            @Html.Partial("ProblemCard", issue)
        }
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Testirati <span class="badge">@Model.Count(i => i.DefectState == "PRO")</span></h4>
        @foreach (var issue in Model.Where(i => i.DefectState == "PRO").OrderByDescending(i => i.Priority).ThenByDescending(i => i.LastChangeDate))
            {
            @Html.Partial("ProblemCard", issue)
        }
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Riješeni <span class="badge">@Model.Count(i => i.DefectState == "CLS")</span></h4>
        @foreach (var issue in Model.Where(i => i.DefectState == "CLS").OrderByDescending(i => i.Priority).ThenByDescending(i => i.LastChangeDate))
            {
            @Html.Partial("ProblemCard", issue)
        }
    </div>
</div>
