<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Podsjetnik</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/octicons.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/react.js"></script>
    <script src="~/Scripts/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <span class="octicon octicon-radio-tower"></span>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Podsjetnik","Index")</li>
                    <li>@Html.ActionLink("Moji zadaci", "ListProblemsByUser", "Home")</li>
                    <li>@Html.ActionLink("Novi zadatak", "ReportNewDefect", "Home")</li>
                </ul>
                <div class="navbar-form navbar-right">
                    <div class="form-group">
                        <input id="searchBox" type="text" class="form-control" />
                    </div>
                    <a id="searchButton" class="btn btn-default">Traži</a>
                </div>
            </div>
        </div>
    </div>   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-primary">&copy; @DateTime.Now.Year - Geodetski zavod Rijeka</p>
        </footer>
    </div>
    <script type="text/javascript">
        function search() {
            var url = '@Url.Action("Search", "Home", null, Request.Url.Scheme)';
            var taskId = $("#searchBox").val();
            var fullUrl = url + "?criteria=" + encodeURIComponent(taskId);
            location.replace(fullUrl);
        }

        $(document).ready(function () {
            $("#searchButton").click(function () {
                search();
            });

            $("#searchBox").keydown(function (eventObject) {
                if (eventObject.keyCode == 13) {
                    search();
                }
            });
        });
    </script>
</body>
</html>
